body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: yellow;
}
section{
    display: flex;
}
.A{
    width: 50%px;
    padding-left: 2%;
}
.B img{
    width: 100%;
}
a{
    text-decoration: none;
    background-color: orange;
}